# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Dependency ..
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.*.local


.vscode/
.idea/
*.sublime-workspace
*.sublime-project


.DS_Store
Thumbs.db

# Parcel cache / Vite cache
.cache/
dist/



# Testing
coverage/
